.game {
  border: 5px solid rgb(49, 40, 81);
  border-radius: 15px;
  background-color: rgb(243, 242, 185);
  box-shadow: 0 0 25px 5px rgb(90, 90, 124);
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 90px;
  color: rgba(184, 199, 212, 0.5);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

h4 {
  margin-top: 20px;
  color: brown;
}

.game h3 {
  color: rgb(49, 40, 81);
  font-size: 30px;
  margin-bottom: 10px;
}

.mainLink {
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  border: 1px solid rgb(49, 40, 81);
  padding: 10px 20px;
  background-color: rgb(90, 90, 124);
  color: rgb(243, 242, 185);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgb(90, 90, 124);
}

.mainLink:hover {
  border-bottom: 1px solid rgb(49, 40, 81);
}

img {
  width: 200px;
  border: 1px solid rgb(49, 40, 81);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .game {
    width: 90%;
    margin: 30px auto;
    flex-direction: column-reverse;
  }
  img {
    margin-bottom: 20px;
  }
}
