.modal {
  background-color: rgba(51, 47, 47, 0.5);
  text-align: center;
}

.modal-dialog {
  margin-top: 20px;
}

.modal-content {
  background-color: rgb(62, 66, 109);
  color: bisque;
}

.modal-content .btn {
  color: bisque;
  border: 1px solid bisque;
  margin: 0;
  padding: 3px 10px;
}

.modal-content .btn:hover {
  border: 1px solid bisque;
}

.modal-header {
  border-bottom: 1px solid bisque;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
